body{
  background-color: lightgray;
}

.container{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 30vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/* 2xl */
@media screen and (min-width: 1280px) {
  
}

/* xl */
@media screen and (max-width: 1279px) {

}
/* lg */
@media screen and (max-width: 1023px) {
  
}
/* md */
@media screen and (max-width: 767px) {
  .container{
    width: 100%;
  }

}
/* sm */
@media screen and (max-width: 639px) {
  
}
